<link rel="stylesheet" href="/libs/leaflet/leaflet.css" />
<div class="container">
  <div id="map-{{ .Get `id` }}" style="height: 450px; border: 1px solid black;"></div>
  <div class="text-center mt-2">
    <a href="{{ .Get `mapLink` }}" rel="noreferrer noopener" target="_blank">View Larger Map</a>
    <a href="https://www.openstreetmap.org/copyright" rel="noreferrer noopener" target="_blank">
      <small class="float-end">©OpenStreetMap</small>
    </a>
  </div>
</div>
<script src="/libs/leaflet/leaflet.js"></script>
<script>
  (function() {
    const lat = parseFloat('{{ .Get `lat` }}');
    const lon = parseFloat('{{ .Get `lon` }}');
    const zoom = parseInt('{{ .Get `zoom` }}');

    let map = L.map('map-{{ .Get `id` }}').setView([lat, lon], zoom);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap'
    }).addTo(map);
    L.marker([lat, lon]).addTo(map);
  })();
</script>