<link rel="stylesheet" href="/libs/leaflet/leaflet.css" />
<div class="container">
  <div id="map-{{ .Get `id` }}" class="map" style="height: 450px; border: 1px solid black;"></div>
  <div class="text-center mt-2">
    <a href="{{ .Get `mapLink` }}" rel="noreferrer noopener" target="_blank">View Larger Map</a>
    <a href="https://www.openstreetmap.org/copyright" rel="noreferrer noopener" target="_blank">
      <small class="float-end">©OpenStreetMap</small>
    </a>
  </div>
</div>
<script src="/libs/leaflet/leaflet.js"></script>
<script>
  (function(id, lat, lon, zoom) {
    const map = L.map('map-' + id).setView([lat, lon], zoom);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    L.marker([lat, lon]).addTo(map);
  })('{{ .Get `id` }}', parseFloat('{{ .Get `lat` }}'), parseFloat('{{ .Get `lon` }}'), parseInt('{{ .Get `zoom` }}'));
</script>